* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.header {
    background-image: url("../image/about-bg.jpg"), linear-gradient(rgba(8, 8, 8, 0.437), rgba(8, 8, 8, 0.437));
    background-blend-mode: overlay;
    ;
    height: 530px;
    background-position: center;
    background-size: cover;
    padding: 15px;

}

.header .header-top {
    display: flex;
    justify-content: space-around;

}

.header .header-top .logo h1 {
    color: white;
}

.header .header-top .nav ul {
    display: flex;
    justify-content: space-between;

}

.header .header-top li {
    list-style: none;
    margin-left: 20px;
}

.header .header-top li a {
    text-decoration: none;
    color: white;
}

.header .site-heading {
    margin: auto;
    margin-top: 120px;
}

.header .site-heading h1 {
    color: white;
    text-align: center;
    font-size: 90px;
}

.header .site-heading p {
    color: white;
    text-align: center;
    font-size: 25px;
}

.text {
    margin: auto;
    width: 700px;

}

.text .lorem {

    margin-top: 30px;
}

.text .lorem p {
    font-size: 25px;
    color: rgb(14, 14, 14);
}

hr {
    background-color: #dee2e6;
    opacity: 1;
    height: 1px;
    border: none;
    margin-top: 30px;
}

.footer {
    padding: 40px;

}

.footer .icons {
    font-size: 50px;
    text-align: center;
}

.footer p {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}